<h1 style="font-size:30px">Data Cleaning</h1>
<hr>

1. Drop unwanted observations
2. Fix structural erros
3. Remove unwanted outliers
4. Label missing categorical data
5. Flag and fill missing numerical data

<span style="font-size:18px">**Import libraries**</span>

In [1]:
# Numpy for numerical computing
import numpy as np

# Pandas for Dataframes
import pandas as pd
pd.set_option('display.max_columns',100)

# Matplolib for visualization
from matplotlib import pyplot as plt
# display plots in the notebook
%matplotlib inline

# Seaborn for easier visualization
import seaborn as sns

<span style="font-size:18px">**Load dataset**</span>

In [2]:
df = pd.read_csv('train.csv')

<span style="font-size:18px">**1. Drop unwanted observations**</span><br>
* Duplicate observations<br>
* Irrelevant observations: observations that don't actually fit the **specific problem**

In [3]:
# Drop duplicates
df.drop_duplicates().shape

(891, 12)

* "PassengerId" and "Name" features have the same goal as the index, i.e., they identify each passenger
* "Cabin" feature has more than 3/4 of missing values

In [4]:
# Drop irrelevant observations
df = df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

<span style="font-size:18px">**2. Fix structural errors**</span>

In [5]:
# Display unique values of the feature
df = pd.get_dummies(df, prefix=['Sex','Embarked'], drop_first=True)
df.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_male,Embarked_Q,Embarked_S
0,0,3,22.0,1,0,7.2500,1,0,1
1,1,1,38.0,1,0,71.2833,0,0,0
2,1,3,26.0,0,0,7.9250,0,0,1
3,1,1,35.0,1,0,53.1000,0,0,1
4,0,3,35.0,0,0,8.0500,1,0,1

<span style="font-size:18px">**3. Remove unwanted outliers**</span><br>
* Suspicious measurements that are unlikely to be real data<br>
* Outliers that belong in a different population<br>
* Outliers that belong to a different problem

* Is there any long and skinny tail?
* Is it a potential outlier?

In [ ]:
# Violin plot of 'target' using the Seaborn library
sns.violinplot(df.target)
plt.show()

# Violin plot of 'feature'
sns.violinplot(df.feature)
plt.show()

* Check the smaller/largest 5 lot size just to confirm
* Use a boolean mask to filter only wanted observations

In [ ]:
# Sort the df.feature and display the top 5 samples
df.feature.sort_values(ascending = False).head()

# Sort the df.feature and display the low 5 samples
df.feature.sort_values(ascending = False).tail()

In [ ]:
# Remove feature outlier
df = df[(df[['feature']] < 'size').all(axis = 1)]

# Print length of df
print(len(df))

<span style="font-size:18px">**4. Label missing categorical data**</span><br><br>
Avoid:<br>
* **Dropping** observations that have missing values<br>
* **Imputing** the missing values based on values from other observations

* Label missing data as 'Missing', adding a new class for the feature

In [7]:
# Create new feature is missing values for "Age"
df['Missing_Age'] = df.Age.isnull().astype(int)

In [8]:
# Missing feature value should be 0
df.Age.fillna(0, inplace = True)

[22.   38.   26.   35.    0.   54.    2.   27.   14.    4.   58.   20.
 39.   55.   31.   34.   15.   28.    8.   19.   40.   66.   42.   21.
 18.    3.    7.   49.   29.   65.   28.5   5.   11.   45.   17.   32.
 16.   25.    0.83 30.   33.   23.   24.   46.   59.   71.   37.   47.
 14.5  70.5  32.5  12.    9.   36.5  51.   55.5  40.5  44.    1.   61.
 56.   50.   36.   45.5  20.5  62.   41.   52.   63.   23.5   0.92 43.
 60.   10.   64.   13.   48.    0.75 53.   57.   80.   70.   24.5   6.
  0.67 30.5   0.42 34.5  74.  ]

In [9]:
df.isnull().sum()

Survived       0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
Sex_male       0
Embarked_Q     0
Embarked_S     0
Missing_Age    0
dtype: int64

<span style="font-size:18px">**5. Flag and fill missing numeric data**</span><br>
* Best used for **cross-sectional** data. The cross-sectional data is data collected for many subjects at the same point in time
* For time series, consider **interpolation**. The time series data is data collected for one subject throughout many points in time

In [ ]:
# Display number of missing values by feature (numeric)
df.select_dtypes(exclude = ['object']).isnull().sum()

**Flag** the observation with an **indicator feature** of missingness:<br>
* 0 is not missing<br>
* 1 if missing

In [ ]:
# Indicator variable for missing feature
df['missing_feature'] = df.feature.isnull().astype(int)

**Fill** in the original missing value with 0 just to meet Scikit-Learn's technical requeriment of no missing values

In [ ]:
# Fill missing values in feature with 0
df.feature.fillna(0, inplace = True)

<span style="font-size:18px">**6. Save the cleaned dataframe**</span><br>

In [ ]:
# Save cleaned dataframe to new file
df.to_csv('cleaned_df.csv', index = None)